* {
	margin: auto;
	padding: auto;
}

.function-bar {
	margin-top: 20px;
	display: flex;
	margin-left: 50px;
}

.navbar {
	margin-left: 100px;
}

.switch {
	margin: auto;
}

.music-info {
	border: 2px solid rgb(219, 219, 215);
	border-radius: 5px;
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.list-container {
	margin-top: 20px;
	text-align: center;
}

.row :nth-child(even) {
	background-color: #dcdcdc !important;
}

.row :nth-child(odd) {
	background-color: black !important;
}
