* {
    margin: auto;
    padding: auto;
}

.save,
a {
    color: white !important;
}

.lyrics {
    height: 150px;
}

.function-bar {
    margin-top: 20px;
    display: flex;
    margin-left: 50px;
}

.navbar {
    margin-left: 100px;
}

.switch {
    margin: auto;
}

.music-info {
    border: 2px solid rgb(219, 219, 215);
    border-radius: 5px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.list-container {
    margin-top: 20px;
    text-align: center;
}

table {
    /* border-collapse: collapse; */
    width: 100%;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#action-icon {
    margin-right: 20px;
}