<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Pineapple Music - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
    <section class="hero is-dark  is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <form action="/songs" class="box">
                            <div class="field">
                                <label for="" class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" />
                                    <span class="icon is-small is-left">
											<i class="fa fa-envelope"></i>
										</span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input type="password" placeholder="*******" class="input" />
                                    <span class="icon is-small is-left">
											<i class="fa fa-lock"></i>
										</span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="checkbox">
										<input type="checkbox" />
										Remember me
									</label>
                            </div>
                            <div class="field">
                                <button class="button is-success">
										Login
									</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>