<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
</head>

<body class="has-navbar-fixed-top has-navbar-fixed-bottom has-background-black-ter" style="height: 100vw;">
    <div class="section transparent transparent is-spaced">
        {% include 'navbar.html' %} {% include 'addSong.html' %}
        <div class="section is-paddingless has-background-black-ter">
            <div class="section is-paddingless is-marginless">
                <div class="columns">
                    <div class="column is-full has-text-centered">
                        <div class="box transparent">
                            <div class="columns has-text-centered is-multiline">
                                <div class="column is-2 has-background-black-ter is-hidden-mobile">
                                    {% include 'sideNav.html' %}
                                </div>
                                <div class="column is-10 has-text-centered">
                                    <div class="section is-paddingless">
                                        <div class="notification transparent ">
                                            <p class="title has-text-warning has-text-left major_mono">
                                                <span class="has-text-white has-text-weight-light">Edit song</span>
                                            </p>
                                            <div class="container">
                                                <div class="columns is-centered ">
                                                    <div class="column is-half">
                                                        <form method="POST" action="/saveSongInfo/{{id}} ">

                                                            <div class="field ">
                                                                <div class="control ">
                                                                    <label class="has-text-white ">Title</label><br /> {{ form.new_song_title(class="input is-primary is-rounded form-control " , value= song.title) }}
                                                                </div>
                                                            </div>

                                                            <div class="field ">
                                                                <div class="control ">
                                                                    <label class="has-text-white ">Artist</label><br /> {{ form.new_song_artist(class="input is-primary is-rounded form-control " , value= song.artist) }}
                                                                </div>
                                                            </div>

                                                            <div class="field ">
                                                                <div class="control ">
                                                                    <label class="has-text-white ">Lyrics</label><br />
                                                                    <textarea class="textarea is-rounded" id="exampleFormControlTextarea1 " rows="8" >{{song.lyrics}}
                                                                    </textarea>
                                                                </div>
                                                             </div>
                                            
                                                            <div class="field ">
                                                                <div class="control ">
                                                                    <label class="has-text-white ">Rating (0-5)</label><br /> {{ form.new_song_rating (class="input is-primary is-rounded form-control ", value = song.rating) }}
                                                                </div>
                                                            </div>
                                            
                                                            <div class="buttons is-centered ">
                                                                {{ form.submit(class="save button is-warning ") }}
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
<script>
    function togglePlay(id) {
        const myAudio = document.getElementById(`${id}`);
        return myAudio.paused ? myAudio.play() : myAudio.pause();
    }
    $('#launchModal').click(function() {
        $('.modal').addClass('is-active');
    });

    $('.modal-close').click(function() {
        $('.modal').removeClass('is-active');
    });

    $('#closebtn').click(function() {
        $('.modal').removeClass('is-active')
        window.location.reload();
    });
    $('#closebtn2').click(function() {
        $('.modal').removeClass('is-active')
        window.location.reload();
    });
</script>
</html>