<div class="container  transparent ">
    <div class="hero-head transparent">
        <nav class="navbar is-spaced is-fixed-top has-background-black-ter">
            <div class="navbar-brand shadowless">
                <a class="navbar-item has-text-warning transparent" href="#">
                    <img src="../static/media-player-logo.png" style="margin-right:1rem;">
                    <p class="title has-text-warning has-text-left  major_mono">
                        <span class="has-text-warning-light">Pineapple Music</span>
                    </p>
                </a>
                <span class="navbar-burger burger is-centered" data-target="navMenu">
            </div>

            <div id="navMenu" class="navbar-menu transparent">
                <div class="navbar-end transparent has-text-right">
                    <div class="navbar-item">
                        <a class="navbar-item is-size-6 has-text-warning  transparent">
                        </a>
                        <a class=" navbar-item  has-text-warning transparent is-hidden-mobile is-hidden-tablet">
                            <i class="fas fa-cog"></i>
                        </a>
                        <a class="navbar-item is-size-6 has-text-warning transparent  is-hidden-mobile is-hidden-tablet">
                            <i class="far fa-bell"></i>
                        </a>
                        <a class="navbar-item  has-text-warning  transparent">
                        </a>
                        <a class="navbar-item is-size-6 has-text-warning  is-hidden-desktop is-hidden-tablet">
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>