<aside class="menu">
    <div class="box transparent has-text-left">
        <button class="has-background-black-ter menu-label has-text-white" id="launchModal"> <i class="fas fa-plus-circle is-warning"></i>
            <span class="has-text-warning">Add Songs</span></button>
        <hr class="has-background-black-ter" />
        <p class="menu-label has-text-warning has-text-weight-bold muli">
            LIBRARY
        </p>
        <p class="menu-label has-text-white">
            <i class="fas fa-music has-text-white"></i>
            <a href="/songs ">Songs </a>
        </p>

        <p class="menu-label has-text-white">
            <i class="far fa-user"></i>
            <a href="/artists ">Artists </a>
        </p>
        <p class="menu-label has-text-white">
            <i class="fas fa-compact-disc has-text-white"></i> <a href="/album ">Albums </a>
        </p>

        <hr class="has-background-black-ter" />

        <p class="menu-label has-text-warning has-text-weight-bold muli">
            PLAYLISTS
        </p>

        <p class="menu-label has-text-white">
            <a href="# ">BB Maker </a>
        </p>
        <p class="muli">
            <a class="is-info is-bold is-outlined material_shadow_five">
                <button class="has-background-black-ter menu-label has-text-white"> <i class="fas fa-plus-circle is-warning"></i>
                    <span class="has-text-warning">Add Playlist</span></button>
            </a>
        </p>
    </div>
</aside>