<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet " integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN " crossorigin="anonymous " />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Document</title>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <link rel="icon" href="data:," />
</head>

<body>
    <div class="navbar ">

        <div class="music-info ">
            <img src="{{ url_for( 'static', filename='apple.png' ) }} " alt=" " />
        </div>

        <div class="volume ">
            <span><i class="fa fa-volume-up" aria-hidden="true"></i></span>
            <input type="range" min="1" max="100" value="50" id="myNumber" />
        </div>

        <div class="signin-button ">
            <a class="btn btn-primary " href="/" role="button ">Log Out</a>
        </div>
    </div>

    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body mx-1 ">
                    <form method="POST" action="{{ url_for('save') }}" class="dropzone">
                        <div class="md-form mb-2">{{ form.new_song_title.label }}<br /> {{ form.new_song_title(class="form-control") }}</div>
                        <div class="md-form mb-2">{{ form.new_song_artist.label }}<br /> {{ form.new_song_artist(class="form-control") }}</div>

                        <div class="form-group">{{ form.new_song_rating.label }}<br /> {{ form.new_song_rating (class="form-control") }}</div>
                        <div class="modal-footer d-flex justify-content-center">{{ form.submit(class="save btn btn-outline-info btn-primary ")}}<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="function-bar ">
        <div class="add-song ">
            <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm" href="/addNewSong ">Add Song</a>
        </div>
        <div class="switch ">
            <a class="btn btn-primary " href="/songs " role="button ">Songs</a>
            <a class="btn btn-primary " href="/album " role="button ">Albums</a>
        </div>
    </div>

    <section>
        <div class="list-container-box" style="margin:1rem;">
            <div class="list-container ">
                <br />
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Genre</th>
                        <th>Rating</th>
                        <th>Albums</th>
                        <th>Actions</th>

                    </tr>

                    {% for song in songs %}

                    <tr onclick="document.getElementById('{{song.id}}').play()">
                        <audio id="{{song.id}}">
                            <source src="{{song.song_url}}" type="audio/mpeg">
                        </audio>
                        <td>{{ song.title }}</td>
                        <td>{{ song.artist }}</td>
                        <td>{{ song.genre }}</td>
                        <td>{{song.rating}}</td>
                        {% if song.album == 'Single' %}
                        <td>{{song.album}}</td>
                        {% elif song.album == 'notfound' %}
                        <td><img src="{{ url_for( 'static', filename='dc.png') }}" /></td>
                        {% else %}
                        <td><img src="{{song.album}}" /></td>
                        {% endif %}
                        <td><span id="action-icon"><a class="fa fa-lg fa-pencil-square btn-danger" aria-hidden="true"
									href="/editSong/{{song.id }} " role="button "></a></span><span><a
									class="fa fa-lg fa-trash btn-secondary" aria-hidden="true"
                                    href="/deleteSong/{{song.id }} " role="button "></a></span></td>

                    </tr>

            </div>
            {% endfor %}
        </div>


    </section>
    <footer></footer>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>